---
import Container from "./Container.astro";

const politicalParties = [
  {
    name: "PSOE",
    png: "assets/psoe.png",
    height: 100,
    width: 100,
    link: "https://www.psoe.es",
  },
  {
    name: "PP",
    png: "assets/pp.png",
    height: 100,
    width: 100,
    link: "https://www.pp.es/",
  },
  {
    name: "VOX",
    png: "assets/vox.png",
    height: 100,
    width: 100,
    link: "https://www.voxespana.es/",
  },
  {
    name: "Unidas Podemos",
    png: "assets/podemos.png",
    height: 100,
    width: 100,
    link: "https://podemos.info/",
  },
];
---

<Container>
  <section>
    {
      politicalParties.map(({ name, png, height, width, link }) => {
        return (
          <a href={link}>
            <img title={name} src={png} height={height} width={width} />
          </a>
        );
      })
    }
  </section>
</Container>

<style>
  img {
    transition-property: scale;
    transition-duration: 0.2s;
    object-fit: contain;
  }
  img:hover {
    scale: 1.3;
  }
  section {
    margin: 3em 0;
    display: flex;
    justify-content: center;
    gap: 3em;
    align-self: center;
  }
</style>
